* {
    margin: 0;
    padding: 0;
}
/* shared style */
.none{
    display: none;
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color:rgba(255,255,255,1);

}
:root{
    --primary-bg :rgba(26, 11, 46, 1);
    --secondary-bg :rgba(35, 14, 61, 1);
    --tertiary-bg:rgba(53, 17, 101, 0.4);
}

.header-text1 {
    font-size: 3rem;
    font-weight: 700;
}
.header-text2{
    font-size: 3.75rem;
    font-weight: 800;

}
.sub-header{
    font-size: 1.5rem;
    font-weight: 700;
}
.text-op06{
    font-size: 1rem;
    opacity: 0.6;
}
.text-op08{
    font-size: 1rem;
    opacity: 0.8;
}
.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12.5px 16px;
    color:rgba(255,255,255,1);
    border-radius: 100px;
}

/* main style */
nav{
    background: var(--primary-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    
}
nav h4{
    font-size: 2rem;
    font-weight:700;
}
.nav-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap:32px;
}





/* responsive media quries */

@media screen and (max-width:576px) {
    .nav-link, nav .primary-btn{
        display: none;
    }
    .hamburger-icon{
        display: block;
    }
    nav{
        justify-content: space-between;
        padding: 16px 20px;
    }
}