* {
    margin: 0;
    padding: 0;
}

/* shared style */
.none {
    display: none;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);

}

:root {
    --primary-bg: rgba(26, 11, 46, 1);
    --secondary-bg: rgba(35, 14, 61, 1);
    --tertiary-bg: rgba(53, 17, 101, 0.4);
    --green-font: rgba(0, 255, 136, 1);
}

.header-text1 {
    font-size: 3rem;
    font-weight: 700;
}

.header-text2 {
    font-size: 3.75rem;
    font-weight: 800;

}

.sub-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.text-op06 {
    font-size: 1rem;
    opacity: 0.6;
}

.text-op08 {
    font-size: 1rem;
    opacity: 0.8;
}

.primary-btn {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    font-size: 1rem;
    font-weight: 600;
    padding: 12.5px 16px;
    color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    border: none;
}

/* main style */

/* ----------navbar section--------- */
.gradient1 {
    background: linear-gradient(to bottom left,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
}
.green{
    background: none;
    color: var(--green-font);
    border: 1px solid var(--green-font);
    gap: 9px ;
}

nav {
    background: var(--primary-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(65, 37, 103, 1);

}

nav h4 {
    font-size: 2rem;
    font-weight: 700;
}

.nav-link {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
    opacity: 0.9;
}


/* --------hero bannar section----------- */


.hero-container {
    background: url(assets/hero-bg.png) center top no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 101px 0;
}

.hero-banner-conten h4 {
    margin-bottom: 8px;
}

.hero-banner-content {
    text-align: center;
    margin-bottom: 24px;
}

.mic-img {
    position: absolute;
    top: 260px;
}

/* -------------about poodcast------------ */

.podcast-container {
    background-color: var(--primary-bg);
    padding: 50px 200px 120px 200px;
    text-align: center;
}

.podcast-content h4 {
    font-size: 3rem;
    font-weight: 900px;
    margin-bottom: 16px;
}

.podcast-content p {
    line-height: 1.5;
    margin-bottom: 80px;
}

.podcast-container hr {
    opacity: 0.1;
    margin-bottom: 80px;
}

.review-cards {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.review-card h4 {
    color: var(--green-font);
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
}

/* ----------why choose TechWave-------------- */

.why-container {
    background: var(--secondary-bg);
    padding: 120px 200px;
}

.why-container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.icons {
    height: 50px;
    width: 50px;
    margin-bottom: 21px;
}

.card h4 {
    margin-bottom: 16px;

}

.card {
    padding: 40px;
    text-align: left;
    background-color: var(--tertiary-bg);
    border-radius: 40px;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
}

.gi1 {
    grid-row: span 2;
}

.gi2,
.gi3,
.gi4 {
    grid-column: span 2;
}

.frame-content {
    padding: 24px;
    background: var(--secondary-bg);
}

/* -----------featured episode---------------- */

.featured-container {
    background: var(--primary-bg);
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-container h4 {
    text-align: center;
    margin-bottom: 40px;

}

.featured-card-container {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 30px;
}

.icon-clock {
    width: 16px;
    height: 16px;
}

.clock-time {
    color: var(--green-font);
    font-size: 16px;
}

.clock-container {
    margin-top: 12px;
    display: flex;
    gap: 6px;
}

.frame-content h4 {
    text-align: left;
}

/* ------------host section---------  */
.host-container {
    background: var(--primary-bg);
    padding: 0 200px 120px 200px;
}

.host-container h4 {
    margin-bottom: 40px;
    text-align: center;
}

.host-card {
    background: var(--secondary-bg);
    display: flex;

    align-items: center;
    gap: 24px;
    padding: 40px;

}

.host-img {
    height: 200px;
    width: 200px;
}

.host-icons {
    display: flex;
    gap: 8px;
}

.social {
    width: 15px;
    height: 15px;
}

.icons-h {
    height: 15px;
    width: 15px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50px;
    padding: 5px;
}

.host-des p {
    line-height: 1.5;
}

.host-des {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* footer section */

.footer-container {
    background: url(assets/footer-bg.png) center no-repeat;
    background-size: cover;
    padding: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container h4 {
    margin-bottom: 34px;
}

.footer-icons {
    display: flex;
    gap: 42px;
    margin-bottom: 34px;
}

.footer-icon {
    display: flex;
    gap: 10px
}

















/* responsive media quries */

@media screen and (max-width:576px) {

    .nav-link,
    nav .primary-btn {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }

    nav {
        justify-content: space-between;
        padding: 16px 20px;
    }

    .hero-container {
        background: url(assets/hero-bg.png) center 50px no-repeat;
        background-size: cover;
        gap: 24px;
        padding: 40px 20px;
    }

    .mic-img {
        width: 80px;
        height: 80px;
        top: 190px;
    }
    .hero-banner-img {
        width: 200px;
        height: 200px;
        padding: 40px 120px 24px 120px;
    }
    .hero-banner-img img, .mic-img img{
        width: 100%;
    }
    .podcast-container{
        padding: 40px 20px;
    }
    .review-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .why-container, .featured-container{
        padding: 40px 20px;
    }
    .card-grid, .featured-card-container{
        grid-template-columns: 1fr;
    }
    .featured-card-container iframe{
        width: 100%;
    }
    .host-container{
        padding: 40px 20px;
    }
    .host-card{
        flex-direction: column;
        
    }
    .host-des{
        align-items: center;
    }
    .footer-container{
        background-size: cover;
        
    }
    .footer-icons{
        flex-wrap: wrap;
    }
}